.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.725098;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls16{letter-spacing:-3.200000px;}
.ls5{letter-spacing:-2.400000px;}
.ls15{letter-spacing:-2.200000px;}
.ls12{letter-spacing:-1.800000px;}
.ls17{letter-spacing:-1.600000px;}
.lsa{letter-spacing:-1.200000px;}
.ls8{letter-spacing:-1.000000px;}
.lsf{letter-spacing:-0.800000px;}
.ls2{letter-spacing:-0.600000px;}
.ls0{letter-spacing:-0.400000px;}
.ls1{letter-spacing:-0.200000px;}
.ls3{letter-spacing:0.000000px;}
.lsb{letter-spacing:0.200000px;}
.lse{letter-spacing:0.400000px;}
.lsc{letter-spacing:0.600000px;}
.ls4{letter-spacing:1.000000px;}
.ls10{letter-spacing:1.400000px;}
.ls7{letter-spacing:2.000000px;}
.lsd{letter-spacing:2.200000px;}
.ls13{letter-spacing:2.600000px;}
.ls9{letter-spacing:3.200000px;}
.ls14{letter-spacing:4.000000px;}
.ls11{letter-spacing:5.600000px;}
.ls6{letter-spacing:6.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-13.440072px;}
._5{margin-left:-11.999926px;}
._22{margin-left:-9.324851px;}
._1{margin-left:-6.622666px;}
._3{margin-left:-5.047762px;}
._2{margin-left:-2.788438px;}
._d{margin-left:-1.144012px;}
._0{width:1.227979px;}
._18{width:2.256002px;}
._b{width:3.655997px;}
._1d{width:8.026664px;}
._1e{width:9.186669px;}
._1c{width:11.745990px;}
._1a{width:12.994000px;}
._16{width:15.143866px;}
._14{width:16.614036px;}
._10{width:18.281998px;}
._15{width:20.595006px;}
._11{width:22.014033px;}
._13{width:23.482002px;}
._21{width:30.750000px;}
._1f{width:40.651999px;}
._20{width:51.248003px;}
._17{width:54.262060px;}
._a{width:55.318000px;}
._9{width:76.785996px;}
._19{width:110.880003px;}
._e{width:198.131994px;}
._c{width:210.031994px;}
._7{width:281.190014px;}
._8{width:812.680000px;}
._6{width:883.135966px;}
._12{width:933.589957px;}
._f{width:937.219994px;}
._1b{width:948.950031px;}
.fc4{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(0,0,255);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(51,51,255);}
.fs8{font-size:32.000000px;}
.fsc{font-size:34.000000px;}
.fs2{font-size:36.000000px;}
.fs4{font-size:40.000000px;}
.fsb{font-size:41.999958px;}
.fsa{font-size:42.000000px;}
.fs6{font-size:44.000000px;}
.fs7{font-size:46.000000px;}
.fs1{font-size:48.000000px;}
.fsd{font-size:50.000000px;}
.fs9{font-size:56.000000px;}
.fse{font-size:57.999680px;}
.fs5{font-size:64.000000px;}
.fs3{font-size:72.000000px;}
.fs0{font-size:112.000000px;}
.y0{bottom:0.000000px;}
.yd{bottom:12.726079px;}
.y5a{bottom:48.844131px;}
.y89{bottom:60.024689px;}
.y59{bottom:60.659332px;}
.y58{bottom:72.474533px;}
.y88{bottom:74.124680px;}
.y57{bottom:84.040710px;}
.y56{bottom:95.371933px;}
.y55{bottom:107.132179px;}
.y54{bottom:117.576981px;}
.y79{bottom:119.004906px;}
.y53{bottom:129.021782px;}
.y78{bottom:131.650505px;}
.y52{bottom:139.466583px;}
.y81{bottom:144.222511px;}
.y77{bottom:144.296104px;}
.y51{bottom:150.933239px;}
.y76{bottom:156.941704px;}
.y50{bottom:161.493240px;}
.y75{bottom:169.587307px;}
.y80{bottom:170.337982px;}
.y4f{bottom:173.053242px;}
.y74{bottom:182.232906px;}
.y7f{bottom:183.408699px;}
.y4e{bottom:183.613243px;}
.y73{bottom:194.878506px;}
.y4d{bottom:195.446390px;}
.y7e{bottom:197.265602px;}
.y72{bottom:207.524105px;}
.y4c{bottom:217.613770px;}
.y71{bottom:220.217961px;}
.y6{bottom:225.251503px;}
.y4b{bottom:226.803772px;}
.y7d{bottom:228.077753px;}
.y4a{bottom:237.076859px;}
.y87{bottom:238.623001px;}
.y5{bottom:245.651501px;}
.y49{bottom:246.364624px;}
.y86{bottom:254.823002px;}
.y48{bottom:255.643753px;}
.y8e{bottom:262.852470px;}
.y47{bottom:264.833755px;}
.y4{bottom:266.051500px;}
.y63{bottom:267.150116px;}
.y46{bottom:275.023758px;}
.y62{bottom:279.850117px;}
.y45{bottom:284.213760px;}
.y85{bottom:286.736811px;}
.y44{bottom:293.403763px;}
.y8d{bottom:293.907715px;}
.y43{bottom:303.593765px;}
.y42{bottom:312.783768px;}
.y7c{bottom:317.955505px;}
.y41{bottom:323.056854px;}
.y40{bottom:332.344620px;}
.y84{bottom:340.614532px;}
.y3f{bottom:341.623756px;}
.y8c{bottom:344.935467px;}
.y7b{bottom:350.327753px;}
.y3e{bottom:350.813759px;}
.y3d{bottom:361.062561px;}
.y3c{bottom:370.503761px;}
.y83{bottom:373.986780px;}
.y8b{bottom:377.203389px;}
.y3b{bottom:379.693764px;}
.y23{bottom:386.844231px;}
.y3a{bottom:389.961533px;}
.y22{bottom:401.364231px;}
.y39{bottom:412.136726px;}
.y38{bottom:424.769123px;}
.y21{bottom:430.633846px;}
.y37{bottom:437.401524px;}
.y20{bottom:444.833845px;}
.y70{bottom:447.111053px;}
.y36{bottom:450.033923px;}
.y6f{bottom:459.711055px;}
.y1f{bottom:461.470059px;}
.y35{bottom:470.579483px;}
.y1e{bottom:476.296808px;}
.y34{bottom:483.579483px;}
.y3{bottom:489.419937px;}
.y61{bottom:489.444899px;}
.y33{bottom:496.579483px;}
.y95{bottom:505.146801px;}
.y32{bottom:509.579483px;}
.y1d{bottom:514.451050px;}
.y6e{bottom:520.219383px;}
.y1b{bottom:521.264875px;}
.y2{bottom:521.619934px;}
.y31{bottom:522.579483px;}
.y1c{bottom:527.051051px;}
.y92{bottom:530.948280px;}
.y6d{bottom:531.703377px;}
.y30{bottom:535.579483px;}
.y91{bottom:542.067596px;}
.y6c{bottom:543.187370px;}
.y2f{bottom:548.579483px;}
.y1a{bottom:550.164854px;}
.y94{bottom:553.346790px;}
.y6b{bottom:554.671364px;}
.y1{bottom:555.962194px;}
.y2e{bottom:561.579483px;}
.y90{bottom:562.667595px;}
.y19{bottom:574.214872px;}
.y2d{bottom:574.579475px;}
.y2c{bottom:587.807098px;}
.y18{bottom:595.144058px;}
.y93{bottom:599.196796px;}
.y16{bottom:600.464857px;}
.y2b{bottom:601.007095px;}
.y17{bottom:605.226926px;}
.yc{bottom:607.358818px;}
.y60{bottom:612.122421px;}
.y2a{bottom:614.207092px;}
.y5f{bottom:623.622421px;}
.y6a{bottom:626.480865px;}
.y14{bottom:626.764860px;}
.y15{bottom:626.786667px;}
.yb{bottom:630.758820px;}
.y5e{bottom:635.122421px;}
.y29{bottom:642.657475px;}
.y69{bottom:651.578209px;}
.y7a{bottom:652.027748px;}
.y13{bottom:653.817520px;}
.ya{bottom:654.158817px;}
.y28{bottom:657.177475px;}
.y5d{bottom:659.936234px;}
.y8f{bottom:660.571963px;}
.y68{bottom:664.237007px;}
.y10{bottom:665.964867px;}
.y12{bottom:666.710613px;}
.y27{bottom:671.697472px;}
.y5c{bottom:672.036234px;}
.y82{bottom:675.386805px;}
.y67{bottom:676.895805px;}
.y9{bottom:677.558817px;}
.y11{bottom:679.408032px;}
.y26{bottom:686.217471px;}
.y5b{bottom:688.967264px;}
.y66{bottom:689.554604px;}
.y8a{bottom:700.657730px;}
.yf{bottom:701.629501px;}
.y65{bottom:702.234316px;}
.y25{bottom:702.323912px;}
.y8{bottom:714.017279px;}
.ye{bottom:715.772033px;}
.y24{bottom:717.666708px;}
.y64{bottom:718.847239px;}
.y7{bottom:755.408599px;}
.h9{height:23.312500px;}
.h3{height:26.226562px;}
.he{height:29.121094px;}
.h5{height:29.140625px;}
.hd{height:30.597626px;}
.hb{height:30.597656px;}
.hf{height:32.033203px;}
.h7{height:32.054688px;}
.h8{height:33.354492px;}
.hc{height:33.511719px;}
.h2{height:34.968750px;}
.h11{height:36.425781px;}
.h10{height:40.605469px;}
.ha{height:40.796875px;}
.h12{height:42.253673px;}
.h6{height:46.625000px;}
.h4{height:52.453125px;}
.h1{height:81.593750px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x9{left:43.080017px;}
.x10{left:49.079939px;}
.xb{left:50.767517px;}
.xc{left:56.867517px;}
.x11{left:63.229939px;}
.x12{left:64.430017px;}
.x16{left:67.080017px;}
.x13{left:70.030018px;}
.x17{left:74.130016px;}
.x15{left:109.867516px;}
.xf{left:112.855019px;}
.x1a{left:117.057434px;}
.x2{left:158.848163px;}
.x19{left:181.419930px;}
.x4{left:183.530556px;}
.x3{left:199.960659px;}
.x8{left:208.919922px;}
.x14{left:216.240005px;}
.xe{left:229.630014px;}
.xd{left:234.580013px;}
.xa{left:248.880005px;}
.x18{left:254.160004px;}
.x1{left:256.185692px;}
.x6{left:279.864914px;}
.x5{left:287.183472px;}
.x1d{left:315.694943px;}
.x1c{left:342.794930px;}
.x1b{left:345.176968px;}
.x7{left:368.277008px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls16{letter-spacing:-4.266667pt;}
.ls5{letter-spacing:-3.200000pt;}
.ls15{letter-spacing:-2.933333pt;}
.ls12{letter-spacing:-2.400000pt;}
.ls17{letter-spacing:-2.133333pt;}
.lsa{letter-spacing:-1.600000pt;}
.ls8{letter-spacing:-1.333333pt;}
.lsf{letter-spacing:-1.066667pt;}
.ls2{letter-spacing:-0.800000pt;}
.ls0{letter-spacing:-0.533333pt;}
.ls1{letter-spacing:-0.266667pt;}
.ls3{letter-spacing:0.000000pt;}
.lsb{letter-spacing:0.266667pt;}
.lse{letter-spacing:0.533333pt;}
.lsc{letter-spacing:0.800000pt;}
.ls4{letter-spacing:1.333333pt;}
.ls10{letter-spacing:1.866667pt;}
.ls7{letter-spacing:2.666667pt;}
.lsd{letter-spacing:2.933333pt;}
.ls13{letter-spacing:3.466667pt;}
.ls9{letter-spacing:4.266667pt;}
.ls14{letter-spacing:5.333333pt;}
.ls11{letter-spacing:7.466667pt;}
.ls6{letter-spacing:8.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-17.920096pt;}
._5{margin-left:-15.999901pt;}
._22{margin-left:-12.433134pt;}
._1{margin-left:-8.830222pt;}
._3{margin-left:-6.730350pt;}
._2{margin-left:-3.717917pt;}
._d{margin-left:-1.525349pt;}
._0{width:1.637305pt;}
._18{width:3.008002pt;}
._b{width:4.874662pt;}
._1d{width:10.702219pt;}
._1e{width:12.248892pt;}
._1c{width:15.661319pt;}
._1a{width:17.325333pt;}
._16{width:20.191822pt;}
._14{width:22.152048pt;}
._10{width:24.375998pt;}
._15{width:27.460008pt;}
._11{width:29.352045pt;}
._13{width:31.309335pt;}
._21{width:41.000000pt;}
._1f{width:54.202666pt;}
._20{width:68.330671pt;}
._17{width:72.349413pt;}
._a{width:73.757333pt;}
._9{width:102.381328pt;}
._19{width:147.840004pt;}
._e{width:264.175991pt;}
._c{width:280.042658pt;}
._7{width:374.920019pt;}
._8{width:1083.573333pt;}
._6{width:1177.514622pt;}
._12{width:1244.786610pt;}
._f{width:1249.626659pt;}
._1b{width:1265.266707pt;}
.fs8{font-size:42.666667pt;}
.fsc{font-size:45.333333pt;}
.fs2{font-size:48.000000pt;}
.fs4{font-size:53.333333pt;}
.fsb{font-size:55.999944pt;}
.fsa{font-size:56.000000pt;}
.fs6{font-size:58.666667pt;}
.fs7{font-size:61.333333pt;}
.fs1{font-size:64.000000pt;}
.fsd{font-size:66.666667pt;}
.fs9{font-size:74.666667pt;}
.fse{font-size:77.332906pt;}
.fs5{font-size:85.333333pt;}
.fs3{font-size:96.000000pt;}
.fs0{font-size:149.333333pt;}
.y0{bottom:0.000000pt;}
.yd{bottom:16.968105pt;}
.y5a{bottom:65.125509pt;}
.y89{bottom:80.032918pt;}
.y59{bottom:80.879110pt;}
.y58{bottom:96.632711pt;}
.y88{bottom:98.832906pt;}
.y57{bottom:112.054281pt;}
.y56{bottom:127.162577pt;}
.y55{bottom:142.842906pt;}
.y54{bottom:156.769307pt;}
.y79{bottom:158.673208pt;}
.y53{bottom:172.029043pt;}
.y78{bottom:175.534007pt;}
.y52{bottom:185.955444pt;}
.y81{bottom:192.296682pt;}
.y77{bottom:192.394806pt;}
.y51{bottom:201.244319pt;}
.y76{bottom:209.255605pt;}
.y50{bottom:215.324320pt;}
.y75{bottom:226.116409pt;}
.y80{bottom:227.117310pt;}
.y4f{bottom:230.737656pt;}
.y74{bottom:242.977208pt;}
.y7f{bottom:244.544932pt;}
.y4e{bottom:244.817657pt;}
.y73{bottom:259.838008pt;}
.y4d{bottom:260.595187pt;}
.y7e{bottom:263.020803pt;}
.y72{bottom:276.698807pt;}
.y4c{bottom:290.151693pt;}
.y71{bottom:293.623948pt;}
.y6{bottom:300.335337pt;}
.y4b{bottom:302.405029pt;}
.y7d{bottom:304.103671pt;}
.y4a{bottom:316.102478pt;}
.y87{bottom:318.164001pt;}
.y5{bottom:327.535334pt;}
.y49{bottom:328.486165pt;}
.y86{bottom:339.764002pt;}
.y48{bottom:340.858337pt;}
.y8e{bottom:350.469961pt;}
.y47{bottom:353.111674pt;}
.y4{bottom:354.735334pt;}
.y63{bottom:356.200155pt;}
.y46{bottom:366.698344pt;}
.y62{bottom:373.133489pt;}
.y45{bottom:378.951681pt;}
.y85{bottom:382.315748pt;}
.y44{bottom:391.205017pt;}
.y8d{bottom:391.876953pt;}
.y43{bottom:404.791687pt;}
.y42{bottom:417.045024pt;}
.y7c{bottom:423.940674pt;}
.y41{bottom:430.742472pt;}
.y40{bottom:443.126160pt;}
.y84{bottom:454.152710pt;}
.y3f{bottom:455.498342pt;}
.y8c{bottom:459.913956pt;}
.y7b{bottom:467.103671pt;}
.y3e{bottom:467.751678pt;}
.y3d{bottom:481.416748pt;}
.y3c{bottom:494.005015pt;}
.y83{bottom:498.649040pt;}
.y8b{bottom:502.937852pt;}
.y3b{bottom:506.258352pt;}
.y23{bottom:515.792308pt;}
.y3a{bottom:519.948710pt;}
.y22{bottom:535.152308pt;}
.y39{bottom:549.515635pt;}
.y38{bottom:566.358831pt;}
.y21{bottom:574.178462pt;}
.y37{bottom:583.202031pt;}
.y20{bottom:593.111794pt;}
.y70{bottom:596.148071pt;}
.y36{bottom:600.045231pt;}
.y6f{bottom:612.948073pt;}
.y1f{bottom:615.293413pt;}
.y35{bottom:627.439311pt;}
.y1e{bottom:635.062411pt;}
.y34{bottom:644.772644pt;}
.y3{bottom:652.559916pt;}
.y61{bottom:652.593198pt;}
.y33{bottom:662.105977pt;}
.y95{bottom:673.529068pt;}
.y32{bottom:679.439311pt;}
.y1d{bottom:685.934733pt;}
.y6e{bottom:693.625844pt;}
.y1b{bottom:695.019834pt;}
.y2{bottom:695.493245pt;}
.y31{bottom:696.772644pt;}
.y1c{bottom:702.734735pt;}
.y92{bottom:707.931040pt;}
.y6d{bottom:708.937836pt;}
.y30{bottom:714.105977pt;}
.y91{bottom:722.756795pt;}
.y6c{bottom:724.249827pt;}
.y2f{bottom:731.439311pt;}
.y1a{bottom:733.553139pt;}
.y94{bottom:737.795720pt;}
.y6b{bottom:739.561818pt;}
.y1{bottom:741.282926pt;}
.y2e{bottom:748.772644pt;}
.y90{bottom:750.223460pt;}
.y19{bottom:765.619830pt;}
.y2d{bottom:766.105967pt;}
.y2c{bottom:783.742798pt;}
.y18{bottom:793.525411pt;}
.y93{bottom:798.929062pt;}
.y16{bottom:800.619809pt;}
.y2b{bottom:801.342794pt;}
.y17{bottom:806.969234pt;}
.yc{bottom:809.811757pt;}
.y60{bottom:816.163228pt;}
.y2a{bottom:818.942790pt;}
.y5f{bottom:831.496562pt;}
.y6a{bottom:835.307821pt;}
.y14{bottom:835.686480pt;}
.y15{bottom:835.715556pt;}
.yb{bottom:841.011759pt;}
.y5e{bottom:846.829895pt;}
.y29{bottom:856.876633pt;}
.y69{bottom:868.770945pt;}
.y7a{bottom:869.370331pt;}
.y13{bottom:871.756694pt;}
.ya{bottom:872.211756pt;}
.y28{bottom:876.236633pt;}
.y5d{bottom:879.914978pt;}
.y8f{bottom:880.762618pt;}
.y68{bottom:885.649343pt;}
.y10{bottom:887.953156pt;}
.y12{bottom:888.947484pt;}
.y27{bottom:895.596629pt;}
.y5c{bottom:896.048312pt;}
.y82{bottom:900.515739pt;}
.y67{bottom:902.527740pt;}
.y9{bottom:903.411756pt;}
.y11{bottom:905.877377pt;}
.y26{bottom:914.956628pt;}
.y5b{bottom:918.623019pt;}
.y66{bottom:919.406138pt;}
.y8a{bottom:934.210307pt;}
.yf{bottom:935.506002pt;}
.y65{bottom:936.312421pt;}
.y25{bottom:936.431882pt;}
.y8{bottom:952.023038pt;}
.ye{bottom:954.362710pt;}
.y24{bottom:956.888944pt;}
.y64{bottom:958.462985pt;}
.y7{bottom:1007.211465pt;}
.h9{height:31.083333pt;}
.h3{height:34.968750pt;}
.he{height:38.828125pt;}
.h5{height:38.854167pt;}
.hd{height:40.796834pt;}
.hb{height:40.796875pt;}
.hf{height:42.710938pt;}
.h7{height:42.739583pt;}
.h8{height:44.472656pt;}
.hc{height:44.682292pt;}
.h2{height:46.625000pt;}
.h11{height:48.567708pt;}
.h10{height:54.140625pt;}
.ha{height:54.395833pt;}
.h12{height:56.338230pt;}
.h6{height:62.166667pt;}
.h4{height:69.937500pt;}
.h1{height:108.791667pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x9{left:57.440023pt;}
.x10{left:65.439919pt;}
.xb{left:67.690022pt;}
.xc{left:75.823355pt;}
.x11{left:84.306585pt;}
.x12{left:85.906690pt;}
.x16{left:89.440023pt;}
.x13{left:93.373357pt;}
.x17{left:98.840022pt;}
.x15{left:146.490021pt;}
.xf{left:150.473358pt;}
.x1a{left:156.076579pt;}
.x2{left:211.797551pt;}
.x19{left:241.893239pt;}
.x4{left:244.707408pt;}
.x3{left:266.614212pt;}
.x8{left:278.559896pt;}
.x14{left:288.320007pt;}
.xe{left:306.173352pt;}
.xd{left:312.773351pt;}
.xa{left:331.840007pt;}
.x18{left:338.880005pt;}
.x1{left:341.580922pt;}
.x6{left:373.153219pt;}
.x5{left:382.911296pt;}
.x1d{left:420.926591pt;}
.x1c{left:457.059906pt;}
.x1b{left:460.235957pt;}
.x7{left:491.036011pt;}
}
