<link rel="stylesheet" href="dist/css/select2.css">

  <div class="container-fluid">
    <div st class="row justify-content-center">
      <div class="col-md-12">
        <div class="p-5 shadow rounded content">
          <h2 class="section-title">Registration</h2>
          <br>
          <form method="POST" ng-submit="SaveRegistration()">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="fname">Candidate Name</label>
                <input type="text" class="form-control" id="fname" name="fname" ng-model="fname" placeholder="Candidate Name" required>
              </div>
              <div class="form-group col-md-4">
                <label for="lname">Father Name</label>
                <input type="text" class="form-control" id="lname" name="lname" ng-model="lname" placeholder="Candidate Father Name" required>
              </div>
              <div class="form-group col-md-4">
                <label for="lname">Grand Name</label>
                <input type="text" class="form-control" id="gname" name="gname" ng-model="gname" placeholder="Candidate Grand Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="gender">Gender</label>
              <select id="gender" class="form-control custom-select" name="gender" required>
                <option selected="" disabled="">Choose Candidate Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="email">Age</label>
                <input type="number" class="form-control" id="age" name="age" ng-model="age" placeholder="Candidate Age" required>
              </div>
            </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" ng-model="email" placeholder="Candidate Email Address" required>
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" name="phone" ng-model="phone" placeholder="Candidate Phone Number" required>
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-12">
              <label class="control-label" for="inputError">Exam Session</label>
              <select style="width: 100%;" id="session" class="form-control custom-select" name="state" required>
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="{{ses.id}}" ng-repeat="ses in examSessions">{{ses.sessionName}}</option>
              </select>
              <br>
            </div>
            <div class="form-group col-md-12">
            <button style="width: 100px;" type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>


    <div style="width: 100%;" class="row col-md-12">
      <form style="float:right;" class="form-inline">
          <div class="row align-items-center">
              <div class="col text-right">
                  <div class="input-group">
                      <div style="padding-right: 25px; padding-top: 5px; padding-bottom: 5px;" class="row">
                      <input style="float: right;" id="search" class="form-control" type="text" ng-model="search" placeholder="&#128269; Search" type="search"/>
                      </div>
                  </div>
              </div>
            </div>
      </form>
    <table style="margin-left: 10px;" cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
      <thead>
          <tr>
           <td>Candidate ID</td>
           <td>Full Name</td>
           <td>Gender</td>
           <td>Age</td>
           <td>Phone</td>
           <td>Exam Session Id</td>
     </tr>
   </thead>
   <tbody>
       <tr ng-repeat="row in candidates | filter: { examSessionId: session.id} | filter: { fullname: search}">
          <td>{{row.uniqueId}}</td> 
          <td>{{row.fullname}}</td>
           <td>{{row.gender}}</td>
           <td>{{row.age}}</td>
           <td>{{row.phone}}</td>
           <td>{{row.examSessionId}}</td>
       </tr>
   </tbody>
</table>
</div>

  </div>

  <script src="dist/js/select2.min.js"></script>
<script>
// In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
    $("#session").select2();
    $('.js-example-basic-single').select2();
});