<link rel="stylesheet" href="dist/css/select2.css">

<div class="container">
    <div st class="row justify-content-center">
      <div class="col-lg-8">
        <div class="p-5 shadow rounded content">
          <h2 class="section-title">Registration</h2>
          <form method="POST" ng-submit="SaveRegistration()">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="fname">Your Name</label>
                <input type="text" class="form-control" id="fname" name="fname" ng-model="fname" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-4">
                <label for="lname">Father Name</label>
                <input type="text" class="form-control" id="lname" name="lname" ng-model="lname" placeholder="Your Father Name" required>
              </div>
              <div class="form-group col-md-4">
                <label for="lname">Grand Name</label>
                <input type="text" class="form-control" id="gname" name="gname" ng-model="gname" placeholder="Your Grand Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="gender">Gender</label>
              <select id="gender" class="form-control custom-select" name="gender" required>
                <option selected="" disabled="">Choose Your Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="email">Age</label>
                <input type="number" class="form-control" id="age" name="age" ng-model="age" placeholder="Your Age" required>
              </div>
            </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" ng-model="email" placeholder="Your Email Address" required>
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" name="phone" ng-model="phone" placeholder="Your Phone Number" required>
            </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="inputError">Exam Session</label>
              <select id="session" class="form-control" name="state" class="js-example-basic-single form-control" required>
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="{{ses.id}}" ng-repeat="ses in sessions">{{ses.sessionName}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script src="dist/js/select2.min.js"></script>
<script>
// In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
    $("#session").select2();
    $('.js-example-basic-single').select2();
});