<link rel="stylesheet" href="dist/css/select2.css" as="style">

<div class="container">
    <div st class="row justify-content-center">
      <div class="col-lg-12">
        <div class="p-5 shadow rounded content">
          <h2 class="section-title">Exam Setting</h2>
          <br><br>
          <form class="row col-md-12" method="POST" ng-submit="ResetExam()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputError">Applicant</label>
                    <select id="candidate" class="form-control" name="state" class="js-example-basic-single form-control" ng-model="candidate" ng-change="candidateSelected(candidate)" required>
                          <option value="" selected disabled hidden>Choose here</option>
                          <option value="{{can.id}}" ng-repeat="can in candidates">{{can.fullname}}</option>
                    </select>
              </div>
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputError">Exam Session</label>
                    <select id="sessionId" class="form-control" name="state" class="js-example-basic-single form-control" required>
                          <option value="" selected disabled hidden>Choose here</option>
                          <option value="{{ses.id}}" ng-repeat="ses in examSessions">{{ses.sessionName}}</option>
                    </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fname">Candidate Name</label>
                <input type="text" class="form-control" id="fname" name="fname" ng-model="fullname" placeholder="Candidate Full Name" disabled required>
              </div>          
            <div class="form-group col-md-6">
                <label for="phone">Candidate ID</label>
                <input type="text" class="form-control" id="uniqueId" name="uniqueId" ng-model="uniqueId" placeholder="Candidate Phone Number" disabled required>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
            <button style="width: 100px;" type="submit" class="btn btn-warning">Reset</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script src="dist/js/select2.min.js"></script>
<script>
// In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
    $("#sessionId").select2();
    $("#candidate").select2();
    $('.js-example-basic-single').select2();
});
</script>