<div class="col-lg-12">
    <div style="width: 100%; padding: 10px;" class="row">
    <form style="padding-left: 5px; float: left;" class="form-inline">
        <div class="row align-items-center">
                <div class="input-group">
                    <div class="col-md-6">
                    <input style="width: 400px;" id="Mainsearch" class="form-control" type="text" ng-model="Mainsearch" placeholder="&#128269; Search By: Full Name" type="search"/>
                    </div>
                </div>
          </div>
    </form>
    <form style="float: right; padding-right: 0px;" class="form-inline">
        <div class="row align-items-center">
                <div class="input-group">
                    <div class="col-md-6">
                    <input style="width: 400px;" id="MainsearchByAppId" class="form-control" type="text" ng-model="MainsearchByAppId" placeholder="&#128269; Search By: APP-ID" type="search"/>
                    </div>
                </div>
          </div>
    </form>
</div>
<div class="panel panel-default" ng-repeat="can in candidates | filter: { fullname: Mainsearch} | filter: { uniqueId: MainsearchByAppId}">
    <div class="panel-heading">
        Exam Report Per Applicants ({{can.fullname}})
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div style="width: 100%;" class="row">
            <form style="float:right;" class="form-inline">
                <div class="row align-items-center">
                    <div class="col text-right">
                        <div class="input-group">
                            <div style="padding-right: 25px; padding-top: 5px; padding-bottom: 5px;" class="row">
                            <input style="float: right;" id="search" class="form-control" type="text" ng-model="search" placeholder="&#128269; Search" type="search"/>
                            </div>
                        </div>
                    </div>
                  </div>
            </form>
    <table style="margin-left: 10px;" cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
            <thead>
                <tr>
                 <td>Candidate ID</td>
                 <!--<td>Full Name</td>
                 <td>Gender</td>
                 <td>Age</td>
                 <td>Phone</td>
                 <td>Exam Session Id</td>-->
                 <td>Exam Session Name</td>
                 <td>Question</td>
                 <td>Answer</td>
                 <td>Applicant Answer</td>
                 <td>Is Correct</td>
           </tr>
         </thead>
         <tbody>
             <tr ng-repeat="row in filtered = (examReport2 | filter: { uniqueId: can.uniqueId} | filter: { fullname: search})">
                <td>{{row.uniqueId}}</td> 
                <!--<td>{{row.fullname}}</td>
                 <td>{{row.gender}}</td>
                 <td>{{row.age}}</td>
                 <td>{{row.phone}}</td>
                 <td>{{row.examSessionId}}</td>-->
                 <td>{{row.sessionName}}</td>
                 <td>{{row.question}}</td>
                 <td>{{row.answer}}</td>
                 <td>{{row.candidate_answer}}</td>
                 <td>{{row.isRight}}</td>
                 
             </tr>
             <tr>
                <th id="total" colspan="5">Total :</th>
                <td style="font-weight: bolder;">{{calcTotal(filtered)}}</td>
            </tr>
         </tbody>
    </table>
  </div> 
</div>
</div>