<div style="margin: 0 auto;" class="row align-items-center">
    <div class="col-lg-4 text-center d-lg-block">
      <img src="./portal/cta-illustration.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-8 text-lg-left text-center">
      <h2 class="mb-3">Please Follow Exam Rules and Regulations.</h2>
      <p style="text-align: justify;">Once you start the exam, do not refresh your browser, you can't use advanced browser functionalities, do not navigate
        away from the exam screen until the exam has been submitted. If you navigate away
        from the exam, your progress may be lost and cannot be recovered. </p>
      <div class="col-md-12 text-lg-left">
      <!--<div style="padding-top: 7px;" class="form-group col-md-6 col-lg-6">
        <input type="text" class="form-control" id="lname" name="lname" placeholder="Exam Entrance Key">
      </div>-->
    <form class="row" ng-submit="TakeExam()">
     <div class="row">
      <div class="form-group col-md-4">
        <input id="myId" name="myId" ng-model="myId" type="text" class="form-control" placeholder="Applicant ID" required>
      </div>
      <div class="form-group col-md-4">
        <select id="sessionId" class="form-control" name="state" required>
          <option value="" selected disabled hidden>Choose Exam Session</option>
          <option value="{{ses.id}}" ng-repeat="ses in sessions">{{ses.sessionName}}</option>
       </select>
      </div>
      <div class="form-group col-md-4">
        <input style="width: 100%;" type="submit" class="btn btn-primary btn-sm" value="Start Exam"/>
      </div>
    </div>
    </form>
    
      <!--<div style="text-align: center; padding-top:120px ; align-items: center;" class="col-md-12 text-center">
        <p style="margin: auto 0;">if you did'nt registered yet, get registered for exam here.  </p>
          <a href="#/register"><span style="color: rgb(96, 96, 248);">Get Registered</span></a>-->
      </div>
    </div>
  </div>