<div class="col-lg-12">
    <div style="width: 100%; padding: 10px;" class="row">
    <form style="padding-left: 5px;" class="form-inline col-md-6">
        <div class="row align-items-center">
                <div class="input-group">
                    <div class="col-md-6">
                    <input style="width: 400px;" id="Mainsearch" class="form-control" type="text" ng-model="Mainsearch" placeholder="&#128269; Search By: Exam Session Name" type="search"/>
                    </div>
                </div>
          </div>
    </form>
</div>
<div class="panel panel-default" ng-repeat="session in examSessions | filter: { sessionName: Mainsearch}">
    <div class="panel-heading">
        Exam Report For Session ({{session.sessionName}})
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div style="width: 100%;" class="row">
            <form style="float:right;" class="form-inline">
                <div class="row align-items-center">
                    <div class="col text-right">
                        <div class="input-group">
                            <div style="padding-right: 25px; padding-top: 5px; padding-bottom: 5px;" class="row">
                            <input style="float: right;" id="search" class="form-control" type="text" ng-model="search" placeholder="&#128269; Search" type="search"/>
                            </div>
                        </div>
                    </div>
                  </div>
            </form>
    <table style="margin-left: 10px;" cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
            <thead>
                <tr>
                 <td>Candidate ID</td>
                 <td>Full Name</td>
                 <td>Gender</td>
                 <td>Age</td>
                 <td>Phone</td>
                 <td>Exam Session Id</td>
                 <td>Exam Session Name</td>
                 <td>Result</td>
           </tr>
         </thead>
         <tbody>
             <tr ng-repeat="row in examReport | filter: { examSessionId: session.id} | filter: { fullname: search}">
                <td>{{row.uniqueId}}</td> 
                <td>{{row.fullname}}</td>
                 <td>{{row.gender}}</td>
                 <td>{{row.age}}</td>
                 <td>{{row.phone}}</td>
                 <td>{{row.examSessionId}}</td>
                 <td>{{row.sessionName}}</td>
                 <td>{{row.result}} / {{row.totalQuez}}</td>
             </tr>
         </tbody>
    </table>
  </div> 
</div>
</div>