<style>
    .pdfobject-container { border: 1rem solid rgba(0,0,0,.1);  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  width: calc(1024px + 0);
  flex: 1;
  }
    .pdfobject {
   left: 0;
   position: absolute;
   height: 300%;
   top: 0;
   width: 100%;
   overflow-y: hidden;
        }
    #bar{
        border: none;
        background-color: black;
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        opacity: 0.2;}
    .pdfReader{
        border: none;
        background-color: black;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        overflow-y:scoll;
    }      
</style>
<body onload="disableContextMenu();" oncontextmenu="return false">
<div class="col-lg-12">
    <div class="panel panel-default">
        <!--<div class="panel-heading">
            {{fileName}}
        </div>
        <div class="row" style="width: 100%; padding: 5px;">
            <div class="col-md-4">
            <input class="form-control" type="text" ng-model="pageSearch" placeholder="Search" id="Search"/>
            </div>
            <div class="col-md-4"><a style="width: 90px;" href="" class="btn btn-warning" onclick="goToPage()">Search</a></div>
        </div> -->
         <!-- /.panel-heading -->
         <div id="container" style="position: relative; overflow-y: scroll; display: flex; height: 90vh; width: 100%; overflow-y: hidden;" class="panel-body">
        <input style="visibility: hidden; display: none;" id="fileUrl" ng-model="fileUrl"/>
        <input style="visibility: hidden; display: none;" id="base64File" ng-model="base64File"/>
         <input style="visibility: hidden;  display: none;" id="pageSize" ng-model="pageSize"/>
         <!--<div id="bar" class="bar"></div>-->
         
         <div style="border: none;" id="pdfReader" class="pdfReader">
            <iframe style="border: none thin;" id="viewer" width="100%" onload="disableContextMenu();" onMyLoad="disableContextMenu();" disabled></iframe>
        </div>
    
    </div>
    <!--<div class="row" style="width: 100%; padding: 5px;">
    <a type="button" style="float: left; margin-left:9px ;" class="btn btn-success" onclick="prev()">Prev</a>
    <a type="button" style="float: right;" class="btn btn-success" onclick="next()">Next</a>
    </div>-->
</div>
<script src="dist/js/pdfObject.min.js"></script>
<script src="dist/js/pdfObject.js"></script>
<script>
        var page = 1;

        $(document).ready(function(){
            
            var Url = document.getElementById("fileUrl").value;
            var base64File = document.getElementById("base64File").value;
            //var pagesize = $("#pageSize").val(); //document.getElementById("pageSize").value;
            //var contentHeight = ((pagesize*1) * 115)+"rem";
            if(base64File != ""){
                document.getElementById("viewer").src = base64File;
            }
            else{
            document.getElementById("viewer").src = Url;
            }

            //PDFObject.embed(Url+"#toolbar=0&navpanes=0&scrollbar=0", "#pdfReader");
            //$('.pdfobject').css('height', '1000rem');  
            $('#viewer').css('height', "90vh");
            //$('.pdfobject-container').css('overflow', "hidden");
            //$('.pdfobject').css('overflow', "hidden");
            $('.bar').css('height', '90vh');
            //alert(pagesize + " * " + "115 = "+ contentHeight);

        });

        function disableContextMenu()
            {
                //window.frames["viewer"].document.oncontextmenu = function(){alert("No way!"); return false;};   
                // Or use this
                $(document.getElementById('viewer').contentWindow.document).keydown(function(e){
                    if(e.keyCode == 122 || e.keyCode == 38 || e.keyCode == 40 || e.keyCode == 13){
                        //122 f11-full screen, 38-up arrow, 40-down arrow
                        return true;
                    }
                    else{
                        swal("Restriction Warning" , "This key is locked on this page.", "error");
                        return false;
                    }
                });
                 document.getElementById("viewer").contentWindow.document.oncontextmenu = function(){swal("Restriction Warning" , "Clicks are Locked on this page.", "error"); return false;};
                 //document.getElementById("viewer").contentWindow.document.click = function(){swal("Restriction Warning" , "Clicks are Locked on this page.", "error"); return false;};    
            }; 


        function next(){
            page = page + 1;
            //var Url = document.getElementById("fileUrl").value;
            //PDFObject.embed(Url+"#page="+page+"&toolbar=0&navpanes=0&scrollbar=0", "#pdfReader");  
            goToId("pf" + page);           
        };

        function prev(){
            page = page - 1;
            //var Url = document.getElementById("fileUrl").value;
            //PDFObject.embed(Url+"#page="+page+"&toolbar=0&navpanes=0&scrollbar=0", "#pdfReader");  
            goToId("pf" + page);    
            //page = page - 1;
            //var Url = document.getElementById("fileUrl").value;
            //PDFObject.embed(Url+"#page="+page+"&toolbar=0&navpanes=0&scrollbar=0", "#pdfReader");               
        };

        function goToId(id) {
            var iframe = document.getElementById("viewer");
            var src = iframe.src;
            if(src.indexOf('#') > 0) src = src.substr(0, src.indexOf("#"));
            else{
                   page = 1;
            }
            iframe.src = src + "#" + id;
        };

        function goToPage(){
            var pageNumber = document.getElementById("pageSearch").value;
            if(pageNumber != ""){
            var Url = document.getElementById("fileUrl").value;
            PDFObject.embed(Url+"#page="+pageNumber+"&toolbar=0&navpanes=0&scrollbar=0", "#pdfReader");
            }
            else{
                swal("Validation Failed", "Please Specify Page Number.", "error");
            }
        };
</script>
</body>

